
body {
  background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 25%, rgba(68, 68, 68, 0.3) 100%);
  min-height: 100vh;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
.title-container{
  width: 100vw;
  display: flex;
  justify-content: center;    
  }
.title{
  font-size: 1.5em; 
  color:rgb(31, 44, 158); 
 } 
.banner-container{
  color: hsla(22, 85%, 43%, 0.5);
  width: 100vw;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;  
 }
.banner{
  width: 80vw;
  font-size: 16px;
  text-align: center;
 }

.section-container{
  justify-content: center;
  align-items: center;  
  color:rgb(108, 81, 204);
 }
 
.section{
  font-size: 1.25em;
  color:rgb(83, 81, 204);
  text-align: center;
  background-color: rgb(185, 183, 178);
 }

.button-container{
  display:flex;
  width: 80vw;
  justify-content: center;    
  display: block;
  margin: 1vh auto;
  flex-wrap:wrap;
  align-items: center;
  text-align:center;
  }
.key-button {
    box-sizing: border-box;
    line-height: 80px;
    font-size: 24px;
    text-align: center;
    width: 25%;
    color: #555;
    cursor: pointer;
    margin: 0 6px;
    height: 80px;
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
    border-width: 1px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
    font-family: sans-serif;
    display: inline-block;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
  }
  .key-button:hover, .key__button:focus {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #C0C0C0, 0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
    transform: translateY(2px);
  }
  .key-button:active {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #C0C0C0, 0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
    transform: translateY(4px);
  }
.key-text{
    box-sizing: border-box;
    line-height: 80px;
    font-size: 22px;
    text-align: center;
    width: 25%;
    color: #555;
    cursor: pointer;
    margin: 0 8px;
    height: 80px;
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
    border-width: 1px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
    font-family: sans-serif;
    display: inline-block;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
  }
  .key-button:hover, .key__button:focus {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #C0C0C0, 0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
    transform: translateY(2px);
  }
  .key-button:active {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #C0C0C0, 0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
    transform: translateY(4px);
  }

  .select-button {
    box-sizing: border-box;
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    width: 25%;
    color: #555;
    cursor: pointer;
    margin: 0 8px;
    height: 80px;
    border-color: #f2f2f2;
    border-style: solid;
    text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
    border-width: 1px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
    font-family: sans-serif;
    display: inline-block;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
  }
  .audio-player-container{
  display:flex;
  width: 80vw;
  justify-content: center;    
  align-items: center;
  text-align:center;
  }